* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main {
  width: 100vw;
  height: 100svh;
  position: relative;
}

.mouse {
  width: 35px;
  height: 35px;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%,-50%);
  user-select: none;
  pointer-events: none;
  p {
    text-decoration: underline;
    position: absolute;
    top: 100%;
    left: 100%;
    font-size: 1rem;
    font-weight: 300;
    text-wrap: nowrap;
    opacity: 0;
  }
}

.tip {
  font-size: 1rem;
  font-weight: 300;
  color: #555;
  text-transform: uppercase;
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  text-wrap: nowrap;
}